/*=== HELPERS ===*/

[v-cloak] { display: none; }

.pull-left { float: left !important; }
.pull-right { float: right !important; }
.auto-scroll { overflow-y: auto; }

.align-center { text-align: center; }
.align-right { text-align: right; }
.align-left { text-align: left; }